{% extends 'extratest/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
  <form method="post" action="">
    {% csrf_token %}
    <label>Введите загаданное число</label><br>
    <input type="text" name="num_user"/>
    <input type="submit" value="Отправить"/>
  </form>
  <br>
  <div>
    <p>Вы можете перейти к 
      <a href="{% url 'extratest:results' %}">
        Результатам тестирования</a></p>
  </div>
  <br>
  <div>
    <p>Если хотите попробовать ещё раз, то переходите на
      <a href="{% url 'extratest:index' %}">
        Главную страницу</a></p>
  </div>
{% endblock %}