<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Краткое описание страницы">
    <title>Тестирование экстрасенсов</title>
    <link rel="icon" href="fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header>
      <h1>Тестирование экстрасенсов</h1>
      <nav>
        <a href="{% url 'extratest:index' %}">
          Главная</a>
      </nav>
      <br>
    </header>
    <main>
      <form action="/examples/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" name="Отправить" value="Отправить"/>
      </form>
      {% comment %}
      <form method="post" action="/examples/">
        {% csrf_token %} 
        <label>Введите загаданное число:</label>
        <input type="text" name="num_user">
        <br>
        <input type="submit" value="Отправить">
      </form>
      {% endcomment %}
      <div>
        <p>История догадок каждого экстрасенса.<br>
        История введённых пользователем чисел.<br>
        {% if data %}
          {{ data }}
        {% endif %}<br>
        Текущее значение достоверности по каждому экстрасенсу.<br></p>
      </div>
    </main>
    <footer>
      По заказу компании "Эдисон"
    </footer>
  </body>
</html> 